<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Songs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Песни
        </h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Исполнитель</th>
                <th>Название</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${songs}">
                <td th:text="${song.id}"></td>
                <td th:text="${song.artist}"></td>
                <td th:text="${song.title}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>